# see https://docs.github.com/en/copilot/how-tos/copilot-cli/customize-copilot/use-byok-models
COPILOT_PROVIDER_BASE_URL=
COPILOT_PROVIDER_TYPE=azure
COPILOT_PROVIDER_API_KEY=
COPILOT_PROVIDER_WIRE_API=responses
COPILOT_MODEL=gpt-5.4-mini
